Repository SovereignCloudStack/cluster-stack-provider-openstack, pull requests merged in 2023-12, with the labels that each got.

#11 🌱 add ability to upgrade via renovate
  hack/semver-upgrade.sh
  hack/upgrade-builder-image.sh
Labels: area/hack, size/M

#18 🌱 remove goconst and goimports
  .github/workflows/test.yaml
  .golangci.yml
  Makefile
  cmd/main.go
  hack/version.sh
  internal/controller/openstackclusterstackrelease_controller.go
  internal/controller/openstackclusterstackreleasetemplate_controller.go
  internal/controller/openstacknodeimagerelease_controller.go
Labels: area/hack, size/M, area/github

#17 :sparkles: Add 'spec.template.spec' for openstackclusterstackreleasetemplate
  api/v1alpha1/openstackclusterstackreleasetemplate_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.clusterstack.x-k8s.io.clusterstack.x-k8s.io_openstackclusterstackreleasetemplates.yaml
Labels: area/api, size/S

#16 :sparkles: Add boolean 'status.ready' field for openstackclusterstackrelease
  api/v1alpha1/openstackclusterstackrelease_types.go
  config/crd/bases/infrastructure.clusterstack.x-k8s.io.clusterstack.x-k8s.io_openstackclusterstackreleases.yaml
Labels: area/api, size/XS

#14 :bug: Fix group name infrastructure.clusterstack.x-k8s.io
  api/v1alpha1/groupversion_info.go
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstackclusterstackreleases.yaml
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstackclusterstackreleasetemplates.yaml
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstacknodeimagereleases.yaml
  config/crd/kustomization.yaml
  config/rbac/openstackclusterstackrelease_editor_role.yaml
  config/rbac/openstackclusterstackrelease_viewer_role.yaml
  config/rbac/openstackclusterstackreleasetemplate_editor_role.yaml
  config/rbac/openstackclusterstackreleasetemplate_viewer_role.yaml
  config/rbac/openstacknodeimagerelease_editor_role.yaml
  config/rbac/openstacknodeimagerelease_viewer_role.yaml
  config/rbac/role.yaml
  internal/controller/openstackclusterstackrelease_controller.go
  internal/controller/openstackclusterstackreleasetemplate_controller.go
  internal/controller/openstacknodeimagerelease_controller.go
Labels: size/M, area/api

#20 🌱 update labeler config for v5
  .github/labeler.yaml
Labels: area/hack, area/api, area/test, area/github, size/S, area/templates, area/code

#19 :sparkles: Add script to ensure correct env variables
  Makefile
  hack/ensure-env-variables.sh
Labels: area/hack, size/S

#15 :warning: OpenStack with pascal case
  .github/ISSUE_TEMPLATE/proposal.md
  PROJECT
  api/v1alpha1/openstackclusterstackrelease_types.go
  api/v1alpha1/openstackclusterstackreleasetemplate_types.go
  api/v1alpha1/openstacknodeimagerelease_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstackclusterstackreleases.yaml
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstackclusterstackreleasetemplates.yaml
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstacknodeimagereleases.yaml
  internal/controller/openstackclusterstackrelease_controller.go
  internal/controller/openstackclusterstackreleasetemplate_controller.go
  internal/controller/openstacknodeimagerelease_controller.go
Labels: area/api, size/L, area/github

#22 :sparkles: Add AGE column for openstackclusterstackrelease
  api/v1alpha1/openstackclusterstackrelease_types.go
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstackclusterstackreleases.yaml
Labels: area/api, size/XS

#25 :sparkles: Add OpenStackNodeImageRelease creation logic in OpenStackClusterStackRelease controller
  Tiltfile
  api/v1alpha1/openstacknodeimagerelease_types.go
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstacknodeimagereleases.yaml
  go.mod
  internal/controller/openstackclusterstackrelease_controller.go
  vendor/golang.org/x/text/cases/cases.go
  vendor/golang.org/x/text/cases/context.go
  vendor/golang.org/x/text/cases/fold.go
  vendor/golang.org/x/text/cases/icu.go
  vendor/golang.org/x/text/cases/info.go
  vendor/golang.org/x/text/cases/map.go
  vendor/golang.org/x/text/cases/tables10.0.0.go
  vendor/golang.org/x/text/cases/tables11.0.0.go
  vendor/golang.org/x/text/cases/tables12.0.0.go
  vendor/golang.org/x/text/cases/tables13.0.0.go
  vendor/golang.org/x/text/cases/tables15.0.0.go
  vendor/golang.org/x/text/cases/tables9.0.0.go
  vendor/golang.org/x/text/cases/trieval.go
  vendor/golang.org/x/text/internal/internal.go
  vendor/golang.org/x/text/internal/match.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/util/record/recorder.go
Labels: work in progress, area/api, size/XXL
