Repository SovereignCloudStack/cluster-stack-provider-openstack, pull requests merged in 2024-04, with the labels that each got.

#148 :sparkles: Support specifying the CA cert or adding verify=false into clouds.yaml
  docs/troubleshooting.md
  internal/controller/openstacknodeimagerelease_controller.go
  internal/controller/openstacknodeimagerelease_controller_test.go
Labels: size/M

#150 :seedling: Make consistent naming for SovereignCloudStack organization
  .github/renovate.json5
  .github/workflows/schedule-update-bot.yaml
  PROJECT
  Tiltfile
  cmd/main.go
  docs/develop.md
  go.mod
  hack/version.sh
  internal/controller/openstackclusterstackrelease_controller.go
  internal/controller/openstackclusterstackrelease_controller_test.go
  internal/controller/openstacknodeimagerelease_controller.go
  internal/controller/openstacknodeimagerelease_controller_test.go
  internal/controller/suite_test.go
  internal/test/helpers/envtest.go
  internal/test/integration/github/integration_suite_test.go
  internal/test/integration/github/integration_test.go
  internal/test/integration/openstack/controller_suite_test.go
  internal/test/integration/openstack/controller_test.go
Labels: area/hack, size/M, area/github

#154 🌱 remove schedule link checker workflow
  .github/workflows/schedule-link-checker.yaml
Labels: area/github, size/S

#157 🌱 replace ARG with ENV in builder Dockerfile
  images/builder/Dockerfile
Labels: size/XS

#156 🌱 udpate controller-gen to 0.14.0
  Makefile
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstackclusterstackreleases.yaml
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstackclusterstackreleasetemplates.yaml
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstacknodeimagereleases.yaml
Labels: area/hack, size/M, area/api
