Repository SovereignCloudStack/cluster-stack-provider-openstack, pull requests merged in 2024-02, with the labels that each got.

#71 🐛 pin go-github dependency
  .github/renovate/golang.json5
Labels: area/github

#79 :sparkles: Add integration tests for both controllers
  .github/workflows/test.yaml
  Makefile
  go.mod
  go.sum
  internal/test/helpers/envtest.go
  internal/test/integration/github/integration_suite_test.go
  internal/test/integration/github/integration_test.go
  internal/test/integration/openstack/controller_suite_test.go
  internal/test/integration/openstack/controller_test.go
  test/releases/cluster-stacks/openstack-integration-1-27-v1/metadata.yaml
  test/releases/cluster-stacks/openstack-integration-1-27-v1/node-images.yaml
  vendor/github.com/SovereignCloudStack/cluster-stack-operator/pkg/test/utils/conditions.go
  vendor/github.com/SovereignCloudStack/cluster-stack-operator/pkg/test/utils/mod.go
  vendor/golang.org/x/mod/LICENSE
  vendor/golang.org/x/mod/PATENTS
  vendor/golang.org/x/mod/internal/lazyregexp/lazyre.go
  vendor/golang.org/x/mod/modfile/print.go
  vendor/golang.org/x/mod/modfile/read.go
  vendor/golang.org/x/mod/modfile/rule.go
  vendor/golang.org/x/mod/modfile/work.go
  vendor/golang.org/x/mod/module/module.go
  vendor/golang.org/x/mod/module/pseudo.go
  vendor/golang.org/x/mod/semver/semver.go
  vendor/k8s.io/klog/v2/klogr/README.md
  vendor/k8s.io/klog/v2/klogr/klogr.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/log/doc.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/log/log.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/log/logger.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/log/util.go
Labels: area/hack, area/test, area/github, size/XXL

#84 :bug: Make tilt green on the first run
  Tiltfile
  docs/develop.md
Labels: size/XS

#87 :seedling: Update compatibility matrix in README
  README.md
Labels: size/XS

#92 :seedling: Create GitHub client only if it is necessary
  internal/controller/openstackclusterstackrelease_controller.go
Labels: size/S

#88 ✨ use local_mode with cspo
  .github/labels.yaml
  .github/renovate/commitMessage.json5
  .github/renovate/labels.json5
  .github/workflows/test.yaml
  .gitignore
  Makefile
  README.md
  Tiltfile
  config/cspo/cluster.yaml
  config/cspo/clusterstack.yaml
  docs/develop.md
  local_cso.yaml
  tilt-settings.yaml.example
Labels: size/XL, area/hack, area/github

#95 🌱 migrate to create-github-app-token
  .github/workflows/pr-verify.yaml
  .github/workflows/schedule-link-checker.yaml
  .github/workflows/schedule-update-bot.yaml
Labels: size/XS, area/github

#102 :seedling: Remove unnecessary env variables in make target env-vars-for-wl-cluster
  .envrc.sample
  Makefile
Labels: area/hack, size/S

#101 ⚠️ Add default values for the 'cloudName' and 'identityRef' fields
  README.md
  Tiltfile
  api/v1alpha1/openstackclusterstackrelease_types.go
  api/v1alpha1/openstacknodeimagerelease_types.go
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstackclusterstackreleases.yaml
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstackclusterstackreleasetemplates.yaml
  config/crd/bases/infrastructure.clusterstack.x-k8s.io_openstacknodeimagereleases.yaml
  config/cspo/cspotemplate.yaml
  config/cspo/secret.yaml
  examples/cspotemplate.yaml
  internal/controller/openstackclusterstackrelease_controller.go
  internal/controller/openstackclusterstackrelease_controller_test.go
  internal/controller/openstacknodeimagerelease_controller.go
  internal/controller/openstacknodeimagerelease_controller_test.go
  internal/test/integration/github/integration_test.go
  internal/test/integration/openstack/controller_test.go
Labels: size/M, area/api

#108 :sparkles: Add hash mode compatibility
  internal/controller/openstackclusterstackrelease_controller.go
  internal/controller/openstackclusterstackrelease_controller_test.go
Labels: size/M

#110 :book: Release CSPO v0.1.0-alpha.2
  README.md
Labels: size/XS

#111 :book: Refactor the documentation for compatibility with the docs.scs.community
  README.md
  docs/controllers.md
  docs/develop.md
  docs/images/openstackclusterstackrelease-controller.plantuml
  docs/images/openstackclusterstackrelease-controller.png
  docs/openstacknodeimagerelease-controller.md
  docs/overview.md
  docs/quickstart.md
Labels: size/L

#117 🌱 enable yamllint to ensure extra line of YAML files
  .yamllint.yaml
Labels: size/XS

#93 :seedling: add make target to apply clusterstack resource
  Makefile
  Tiltfile
  config/cspo/clusterstack.yaml
  docs/develop.md
Labels: area/hack, size/M

#115 🌱 remove usage of latest tag in builder image
  .github/workflows/main-promote-builder-image.yaml
  Makefile
  images/builder/Dockerfile
Labels: area/hack, area/github, size/S
