Repository SovereignCloudStack/cluster-stack-provider-openstack, pull requests merged in 2024-03, with the labels that each got.

#121 :seedling: use cosign attest and upgrade bom
  .github/workflows/release.yaml
Labels: size/XS, area/github

#125 :book: Fix readme link to docs
  README.md
Labels: size/XS

#124 :sparkles: Improve image filtering
  internal/controller/openstacknodeimagerelease_controller.go
  internal/controller/openstacknodeimagerelease_controller_test.go
Labels: size/M

#131 🌱 generate sbom in json format with bom
  .github/workflows/release.yaml
Labels: size/XS, area/github

#132 🌱 update to cso v0.1.0-alpha.5
  README.md
  Tiltfile
  go.mod
  go.sum
  local_cso.yaml
  tilt-settings.yaml.example
  vendor/modules.txt
Labels: size/S

#133 ✨ use new builder image approach
  .envrc.sample
  .github/workflows/release.yaml
  Makefile
  hack/kind-dev.sh
  images/builder/Dockerfile
  images/cspo/Dockerfile
Labels: area/hack, size/M, area/github

#96 🌱 update python scripts to python3
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate_test.py
  hack/boilerplate/testdata/default/fail.py
  hack/boilerplate/testdata/default/pass.py
  hack/boilerplate/testdata/with_config/fail.py
  hack/boilerplate/testdata/with_config/pass.py
Labels: area/hack, size/M

#138 🐛 Fix 403 error in release job
  .github/workflows/release.yaml
Labels: size/XS, area/github

#139 :book: Update compatibility matrix in README
  README.md
Labels: size/XS
