Repository SovereignCloudStack/cluster-stack-provider-openstack, pull requests merged in 2024-05, with the labels that each got.

#162 🌱 add buildx in renovate workflow
  .github/workflows/schedule-update-bot.yaml
Labels: size/XS, area/github

#163 :bug: Fix unused cert_manager_version
  Tiltfile
  tilt-settings.yaml.example
Labels: size/XS

#168 🌱 update .builder-image-version.txt with builder image updates
  .github/workflows/schedule-update-bot.yaml
Labels: size/XS, area/github

#152 :book: Replace quickstart document by a link
  docs/quickstart.md
Labels: size/M
