Repository SovereignCloudStack/cluster-stack-provider-openstack, pull requests merged in 2024-01, with the labels that each got.

#31 :sparkles: Add handling for all posible cases of image.Status
  api/v1alpha1/conditions_const.go
  internal/controller/openstacknodeimagerelease_controller.go
Labels: size/M, area/api

#33 :seedling: Reuse existing "images.CreateOpts" for node image releases
  api/v1alpha1/openstacknodeimagerelease_types.go
  internal/controller/openstacknodeimagerelease_controller.go
Labels: area/api, size/S

#35 :seedling: Add Apache2 LICENSE
  LICENSE
Labels: size/L

#36 :book: Add doc on how to develop CSPO
  .envrc.sample
  docs/develop.md
  docs/pics/tilt.png
  examples/cluster.yaml
  examples/clusterstack.yaml
  examples/cspotemplate.yaml
Labels: size/M

#40 :book: Cspo readme apis
  README.md
Labels: size/XS

#39 :sparkles: Cspo multiple images
  internal/controller/openstackclusterstackrelease_controller.go
Labels: size/S

#46 :book: Add controller docs
  README.md
  docs/develop.md
  docs/images/openstackclusterstackrelease-controller.plantuml
  docs/images/openstackclusterstackrelease-controller.png
  docs/images/openstacknodeimagerelease-controller.plantuml
  docs/images/openstacknodeimagerelease-controller.png
  docs/images/tilt.png
  docs/openstackclusterstackrelease-controller.md
  docs/openstacknodeimagerelease-controller.md
Labels: size/M

#50 :bug: Fix events recording
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/openstackclusterstackrelease_controller.go
  internal/controller/openstacknodeimagerelease_controller.go
Labels: size/S

#51 :sparkles: Enable unit tests and add the first one
  .github/workflows/test.yaml
  Makefile
  go.mod
  internal/controller/openstackclusterstackrelease_controller_test.go
  vendor/github.com/pmezard/go-difflib/LICENSE
  vendor/github.com/pmezard/go-difflib/difflib/difflib.go
  vendor/github.com/stretchr/testify/LICENSE
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_can_convert.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_legacy.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/errors.go
  vendor/github.com/stretchr/testify/assert/forward_assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/modules.txt
Labels: area/hack, area/github, size/XXL

#13 :seedling: Code cleanup
  cmd/main.go
  internal/controller/suite_test.go
Labels: size/M

#53 :sparkles: Add unit tests for the openstacknodeimagerelease controller
  go.mod
  internal/controller/openstacknodeimagerelease_controller_test.go
  vendor/github.com/evanphx/json-patch/.gitignore
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/errors.go
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/github.com/gophercloud/gophercloud/testhelper/client/fake.go
  vendor/github.com/gophercloud/gophercloud/testhelper/convenience.go
  vendor/github.com/gophercloud/gophercloud/testhelper/doc.go
  vendor/github.com/gophercloud/gophercloud/testhelper/http_responses.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/k8s.io/client-go/testing/actions.go
  vendor/k8s.io/client-go/testing/fake.go
  vendor/k8s.io/client-go/testing/fixture.go
  vendor/k8s.io/client-go/testing/interface.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interceptor/intercept.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/objectutil.go
Labels: area/test, size/XXL

#61 :sparkles: Add missing unit tests for openstackclusterstackrelease controller
  go.mod
  go.sum
  internal/controller/openstackclusterstackrelease_controller_test.go
  vendor/github.com/SovereignCloudStack/cluster-stack-operator/pkg/github/client/mocks/Client.go
  vendor/github.com/SovereignCloudStack/cluster-stack-operator/pkg/github/client/mocks/Factory.go
  vendor/github.com/SovereignCloudStack/cluster-stack-operator/pkg/github/client/mocks/gfactory.go
  vendor/github.com/stretchr/objx/.codeclimate.yml
  vendor/github.com/stretchr/objx/.gitignore
  vendor/github.com/stretchr/objx/LICENSE
  vendor/github.com/stretchr/objx/README.md
  vendor/github.com/stretchr/objx/Taskfile.yml
  vendor/github.com/stretchr/objx/accessors.go
  vendor/github.com/stretchr/objx/conversions.go
  vendor/github.com/stretchr/objx/doc.go
  vendor/github.com/stretchr/objx/map.go
  vendor/github.com/stretchr/objx/mutations.go
  vendor/github.com/stretchr/objx/security.go
  vendor/github.com/stretchr/objx/tests.go
  vendor/github.com/stretchr/objx/type_specific.go
  vendor/github.com/stretchr/objx/type_specific_codegen.go
  vendor/github.com/stretchr/objx/value.go
  vendor/github.com/stretchr/testify/mock/doc.go
  vendor/github.com/stretchr/testify/mock/mock.go
  vendor/modules.txt
Labels: size/XXL
